In [3]:
i = 1
while i <= 20:
    if i % 2 == 0:
        i += 1
        continue
    print(i, end=' ')
    i += 1

1 3 5 7 9 11 13 15 17 19

In [8]:
while True:
    # Ask the user to enter a number
    num = int(input("Enter a number  "))
    
    if num < 0:
        print("Negative number entered. Loop stopped!")
        break  
    
    
    print("You entered:", num)

Enter a number   5

You entered: 5

Enter a number   10

You entered: 10

Enter a number   -3

Negative number entered. Loop stopped!

In [10]:
guess = ""
while guess != "python":
    guess = input("Guess the word: ")

print(" You guessed it!")

Guess the word:  java
Guess the word:  ruby
Guess the word:  python

 You guessed it!

In [13]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

In [14]:
i = 0
while i < len(orders):
    order = orders[i]
    print("Order ID:", order["order_id"], "Customer:", order["customer"])
    
    j = 0
    items = order["items"]
    while j < len(items):
        print("Item Price:", items[j])
        j += 1
    
    i += 1

Order ID: 1 Customer: Ali
Item Price: 120
Item Price: 80
Item Price: 50
Order ID: 2 Customer: Sara
Item Price: 200
Item Price: 150
Order ID: 3 Customer: Raheel
Item Price: 90
Item Price: 60
Item Price: 40
Item Price: 30
Order ID: 4 Customer: Naveed
Item Price: 300

In [15]:
orders = [
    {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]},
    {"order_id": 2, "customer": "Sara", "items": [200, 150]},
    {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]},
    {"order_id": 4, "customer": "Naveed", "items": [300]},
]

In [17]:
i = 0
while i < len(orders):
    order = orders[i]
    customer_name = order["customer"]
    items = order["items"]

    total = 0  

    j = 0
    while j < len(items):
        total += items[j]
        j += 1

    print(customer_name, "spent total:", total)

    i += 1
    print(' ')

Ali spent total: 250

Sara spent total: 350

Raheel spent total: 220

Naveed spent total: 300

In [18]:
orderss = [ {"order_id": 1, "customer": "Ali", "items": [120, 80, 50]}, {"order_id": 2, "customer": "Sara", "items": [200, 150]}, {"order_id": 3, "customer": "Raheel", "items": [90, 60, 40, 30]}, {"order_id": 4, "customer": "Naveed", "items": [300]}, ]

In [19]:
i = 0
while i < len(orderss):
    order = orderss[i]
    items = order["items"]
    
   
    max_price = items[0]
    
    j = 1  
    while j < len(items):
        if items[j] > max_price:
            max_price = items[j]
        j += 1

    print("Most expensive item in Order", order["order_id"], "=", max_price)
    
    i += 1

Most expensive item in Order 1 = 120
Most expensive item in Order 2 = 200
Most expensive item in Order 3 = 90
Most expensive item in Order 4 = 300

In [20]:
multiples = [num for num in range(1, 51) if num % 5 == 0 and num % 10 == 0]
print("Multiples of 5 and 10 from 1 to 50:", multiples)

Multiples of 5 and 10 from 1 to 50: [10, 20, 30, 40, 50]

In [21]:
employees = [ {"emp_id": 1, "name": "Ali", "dept": "Sales", "salary": 50000, "experience": 2}, {"emp_id": 2, "name": "Sara", "dept": "IT", "salary": 65000, "experience": 5}, {"emp_id": 3, "name": "Raheel", "dept": "HR", "salary": 45000, "experience": 1}, {"emp_id": 4, "name": "Naveed", "dept": "Finance", "salary": 70000, "experience": 7}, {"emp_id": 5, "name": "Ayesha", "dept": "IT", "salary": 72000, "experience": 6}, {"emp_id": 6, "name": "Talha", "dept": "Sales", "salary": 55000, "experience": 3}, {"emp_id": 7, "name": "Sana", "dept": "Finance", "salary": 80000, "experience": 8}, {"emp_id": 8, "name": "Hina", "dept": "HR", "salary": 48000, "experience": 2}, ]

In [22]:
high_paid_experienced = [emp["name"] for emp in employees if emp["salary"] > 60000 and emp["experience"] > 5]

print(high_paid_experienced)

['Naveed', 'Ayesha', 'Sana']

In [23]:
not_hr_employees = [emp["name"] for emp in employees if emp["dept"] != "HR"]

print(not_hr_employees)

['Ali', 'Sara', 'Naveed', 'Ayesha', 'Talha', 'Sana']

In [ ]:
filtered_employees = [
    emp["name"] for emp in employees 
    if emp["dept"] != "Sales" or emp["experience"] > 5
]

print(filtered_employees)