In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\jupyter\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\jupyter\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\jupyter\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\jupyter\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\jupyter\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\jupyter\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
df1 = df[((df['EmployeeName'] == 'Not provided') & (df['JobTitle'] == 'Not provided'))]
df1

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN

In [5]:
df2 = df[["BasePay", "OvertimePay", "OtherPay", "Benefits"]].replace('Not provided', 0)
df2

             BasePay   OvertimePay      OtherPay      Benefits
0          167411.18           0.0     400184.25           NaN
1          155966.02     245131.88     137811.38           NaN
2          212739.13     106088.18       16452.6           NaN
3            77916.0      56120.71      198306.9           NaN
4           134401.6        9737.0     182234.59           NaN
...              ...           ...           ...           ...
148649          0.00          0.00          0.00          0.00
148650  Not Provided  Not Provided  Not Provided  Not Provided
148651  Not Provided  Not Provided  Not Provided  Not Provided
148652  Not Provided  Not Provided  Not Provided  Not Provided
148653          0.00          0.00       -618.13          0.00

[148654 rows x 4 columns]

In [7]:
df3 = df[["BasePay", "OvertimePay", "OtherPay", "Benefits"]]

df3

             BasePay   OvertimePay      OtherPay      Benefits
0          167411.18           0.0     400184.25           NaN
1          155966.02     245131.88     137811.38           NaN
2          212739.13     106088.18       16452.6           NaN
3            77916.0      56120.71      198306.9           NaN
4           134401.6        9737.0     182234.59           NaN
...              ...           ...           ...           ...
148649          0.00          0.00          0.00          0.00
148650  Not Provided  Not Provided  Not Provided  Not Provided
148651  Not Provided  Not Provided  Not Provided  Not Provided
148652  Not Provided  Not Provided  Not Provided  Not Provided
148653          0.00          0.00       -618.13          0.00

[148654 rows x 4 columns]

In [8]:
df4 = df[df['BasePay'] > 200000][['EmployeeName', 'BasePay']]
df4

TypeError: '>' not supported between instances of 'str' and 'int'

In [9]:
df5 = df[df['JobTitle'].str.contains('manager', case=False)][['EmployeeName', 'JobTitle']]
df5

                EmployeeName                                        JobTitle
0             NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
83            EDWARD REISKIN  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
87               KEVIN BARRY                                     MANAGER VII
95              MIVIC HIROSE                                    MANAGER VIII
162            JULIE LABONTE                                    MANAGER VIII
...                      ...                                             ...
147216  Steven D Koneffklatt                                     Manager III
147502    Alice B Villagomez                                      Manager IV
147805    Stephen C Laplante                                      Manager II
148150      Shirley M Parker                           Real Property Manager
148475         James P Horan                                      Manager IV

[4110 rows x 2 columns]

In [10]:
df6 = df[['EmployeeName', 'JobTitle', 'TotalPay']]
df6

,EmployeeName,JobTitle,TotalPay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19
...,...,...,...
148649,Roy I Tillery,Custodian,0.00
148650,Not provided,Not provided,0.00
148651,Not provided,Not provided,0.00
148652,Not provided,Not provided,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13

In [11]:
df7 = df[df['OvertimePay'] == 0].shape[0]
df7

66103

In [12]:
df_filter = df[df['TotalPay'] > 300000]
df8 = df_filter.groupby('JobTitle')['TotalPay'].sum().reset_index()
df8

                                          JobTitle    TotalPay
0                        ASSISTANT DEPUTY CHIEF II   316285.74
1                         Assistant Deputy Chief 2   654066.15
2                     Asst Chf of Dept (Fire Dept)  1303828.26
3                                Asst Med Examiner  1069837.40
4               BATTALION CHIEF, (FIRE DEPARTMENT)   619408.60
5                   Battalion Chief, Fire Suppress  2845960.11
6                   Battlion Chief, Fire Suppressi  1266054.40
7                  CAPTAIN III (POLICE DEPARTMENT)   874189.19
8           CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)   302377.73
9                                        Captain 3  1274613.48
10                       Captain, Fire Suppression   610671.88
11                        Chief Investment Officer   339653.70
12                                 Chief of Police   987550.94
13                          Chief, Fire Department   977915.05
14                                     Commander 3   322143.10
15    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)   326373.19
16                  DEPUTY DIRECTOR OF INVESTMENTS   307899.46
17                    Dep Dir for Investments, Ret   315572.01
18                                     Dept Head V   927825.30
19                                  Deputy Chief 3   471952.64
20                                  Deputy Sheriff   308434.84
21                       EMT/Paramedic/Firefighter   337204.86
22                     Electronic Maintenance Tech   336393.73
23                     Executive Contract Employee   623473.54
24  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY   567595.43
25                      Gen Mgr, Public Trnsp Dept   305307.89
26                    Lieutenant, Fire Suppression   683220.45
27                     Senior Physician Specialist   634537.20
28            WIRE ROPE CABLE MAINTENANCE MECHANIC   332343.61

In [13]:
avg = df.groupby('JobTitle')['TotalPayBenefits'].mean()
df9 = avg.sort_values(ascending=False).head(5)
df9

JobTitle
Chief Investment Officer                          436224.360000
Chief of Police                                   411732.266667
Chief, Fire Department                            408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Gen Mgr, Public Trnsp Dept                        380696.440000
Name: TotalPayBenefits, dtype: float64

In [14]:
df['Benefits'] = df['Benefits'].fillna(0)
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,0,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,0,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,0,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,0,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [15]:
df11 = df.loc[df.groupby('Year')['TotalPay'].idxmax()][['Year', 'EmployeeName', 'TotalPay']]
df11

        Year    EmployeeName   TotalPay
0       2011  NATHANIEL FORD  567595.43
36159   2012  Gary Altenberg  362844.66
72927   2013     Samson  Lai  347102.32
110531  2014     David Shinn  471952.64

In [16]:
df12 = df.groupby('JobTitle').size()
df12

JobTitle
ACCOUNT CLERK                                      83
ACCOUNTANT                                          5
ACCOUNTANT INTERN                                  48
ACPO,JuvP, Juv Prob (SFERS)                         1
ACUPUNCTURIST                                       1
                                                 ...
X-RAY LABORATORY AIDE                              26
X-Ray Laboratory Aide                             100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      1
Youth Comm Advisor                                  4
ZOO CURATOR                                         1
Length: 2159, dtype: int64