In [1]:
def add_numbers(a, b):
    return a + b

In [3]:
add_numbers(3,5)

8

In [4]:
add_numbers(1,3)

4

In [5]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

In [8]:
count_vowels("welcome")

3

In [12]:
count_vowels("apple")

2

In [14]:
def currency_converter(amount, exchange_rate=280):
    converted_amount = amount * exchange_rate
    print(f"{amount} USD is equivalent to {converted_amount} PKR")

In [15]:
currency_converter(20)

20 USD is equivalent to 5600 PKR

In [16]:
currency_converter(100)

100 USD is equivalent to 28000 PKR

In [21]:
def display_student_info(name, age, grade, school):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Grade: {grade}")
    print(f"School: {school}")

In [22]:
display_student_info(name="John Doe", age=15, grade="10th", school="Greenwood High")

Name: John Doe
Age: 15
Grade: 10th
School: Greenwood High

In [23]:
def calculate_price(price, quantity):
    return price * quantity

In [26]:
calculate_price(200,60)

12000

In [29]:
def display_prices(product, **prices):
    print(f"Product: {product}")
    for store, price in prices.items():
        print(f"{store}: ${price}")

In [30]:
display_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

In [31]:
def find_max(*args):
    if not args:
        return "No numbers provided"
    return max(args)
find_max()

'No numbers provided'

In [37]:
find_max(34,33,56,65,76,89)

89

In [39]:
def calculate_rectangle(length, width):
    def calculate_area():
        return length * width

    def calculate_perimeter():
        return 2 * (length + width)

    area = calculate_area()
    perimeter = calculate_perimeter()

    return area, perimeter
calculate_rectangle(5,7)

(35, 24)

In [40]:
def taxi_fare(distance, rate=100):
    fare = distance * rate
    return fare
taxi_fare(20)

2000

In [41]:
taxi_fare(10,300)

3000

In [44]:
def shopping_bill(price, quantity, discount=0):
    def calculate_total():
        return price * quantity

    def apply_discount(total):
        final_amount = total - discount
        return final_amount if final_amount > 0 else 0

    total = calculate_total()
    final_bill = apply_discount(total)
    return final_bill
shopping_bill(20,45)

900

In [45]:
shopping_bill(20,45,100)

800